.p-form {
    padding: 20px;

    @include is-sp {
        padding: 30px 0;
    }

    &__container {
        display: block;
        margin-bottom: 20px;

        &--column {
            display: flex;
            gap: 20px;

            @include is-sp {
                flex-wrap: wrap;
            }

            .column {
                width: 50%;

                @include is-sp {
                    width: 100%;
                }
            }
        }

        &--checkbox {
            width: 35%;
            display: grid;
            margin: 20px 0;

            @include is-sp {
                width: 100%;
            }
        }

        &--small {
            width: 25%;

            @include is-sp {
                width: 100%;
            }
        }

        &--button-area {
            padding: 20px 0;
            width: 35%;

            @include is-sp {
                width: 100%;
            }
        }
    }

    &__label,
    &__input,
    &__textarea {
        width: 100%;
    }

    &__label {
        @include font-line(16);
        font-weight: 700;

        &--checkbox {
            @include font-line(12);
            font-weight: 500;
        }

        &--textSmall {
            @include is-sp {
                @include font-line(11);
                font-weight: 500;
            }
        }
    }

    &__input,
    &__textarea {
        color: #555;
        background-color: #fff;
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        width: 100%;
        max-width: 100%;
        @include font-line(14);
        padding: 6px 10px;
        box-sizing: border-box;
        outline: none;
        font-weight: 400;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
        height: 32px;
        margin: 10px 0 0;
    }

    &__input{
        &--valid{
            background-color: $color-valid;
        }
        &--invalid{
            background-color: $color-invalid;
        }
    }

    &__textarea {
        height: auto;
    }

    &__inputCheckbox {
        margin: 0 5px 0 0;

    }

    .hidden {
        visibility: hidden;
    }

    .isRequired {
        color: red;
        position: relative;
    }
}

.p-formSearch {
    display: flex;
    margin-bottom: 20px;

    &__inner {
        border-color: rgba(0, 0, 0, 0);
        border-radius: 3px;
        min-height: 50px;
        background: #eceeef;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        transition: .2s;
        overflow: hidden;
        border: 0 solid transparent;

        @include is-sp {
            width: 100%;
        }
    }

    &__icon {
        opacity: .6;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #55595c;
        padding-left: calc(50px / 3);
    }

    &__input {
        color: #666;
        padding: .75em;
        height: auto;
        border-width: 1px;
        border-style: solid;
        border-color: #eaeaea;
        border-radius: 2px;
        background: #eceeef;
        box-shadow: none;
        box-sizing: border-box;
        transition: all .2s linear;
        padding-left: calc(50px / 3);
        padding-right: calc(50px / 3);
        @include font-line(16);
    }
}

// .form {
//     &__top {
//         margin-bottom: 10px;
//     }

//     &__description {
//         margin: 10px 0;
//     }

//     &__center {
//         display: flex;
//         flex-wrap: wrap;
//         padding: 20px 0;
//         justify-content: space-between;
//     }

//     &__text,
//     &__textarea {
//         width: 48%;
//         border: 1px solid;
//         border-top-color: transparent;
//         border-left-color: transparent;
//         border-right-color: transparent;
//         background-color: transparent;
//         @include font-line(16);
//         border-bottom-color: #A9A9A9;
//         margin: 20px 0;
//     }

//     &__text {
//         height: 40px;

//         &:nth-child(n+3) {
//             width: 100%;
//         }
//     }

//     &__textarea {
//         height: 200px;
//         width: 100%;
//         resize: none;
//     }

//     // &__checkboxContainer {
//     //     display: block;
//     //     position: relative;
//     //     padding-left: 35px;
//     //     margin-bottom: 12px;
//     //     cursor: pointer;
//     //     font-size: 22px;
//     //     -webkit-user-select: none;
//     //     -moz-user-select: none;
//     //     -ms-user-select: none;
//     //     user-select: none;

//     //     input {
//     //         position: absolute;
//     //         opacity: 0;
//     //         cursor: pointer;
//     //         height: 0;
//     //         width: 0;
//     //     }
//     // }

//     // &__checkMark {
//     //     position: absolute;
//     //     top: 0;
//     //     left: 0;
//     //     height: 25px;
//     //     width: 25px;
//     //     background-color: #eee;
//     // }

//     // /* On mouse-over, add a grey background color */
//     // &__checkboxContainer:hover input~.form__checkMark {
//     //     background-color: #ccc;
//     // }

//     // /* When the checkbox is checked, add a blue background */
//     // &__checkboxContainer input:checked~.form__checkMark {
//     //     background-color: #2196F3;
//     // }

//     // /* Create the checkmark/indicator (hidden when not checked) */
//     // .form__checkMark:after {
//     //     content: "";
//     //     position: absolute;
//     //     display: none;
//     // }

//     // /* Show the checkmark when checked */
//     // &__checkboxContainer input:checked~.form__checkMark:after {
//     //     display: block;
//     // }

//     // /* Style the checkmark/indicator */
//     // &__checkboxContainer .form__checkMark:after {
//     //     left: 9px;
//     //     top: 3px;
//     //     width: 8px;
//     //     height: 15px;
//     //     border: solid white;
//     //     border-width: 0 3px 3px 0;
//     //     -webkit-transform: rotate(45deg);
//     //     -ms-transform: rotate(45deg);
//     //     transform: rotate(45deg);
//     // }
// }
