.c-seal01 {
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid transparent;
    &--accent {
        background-color: $color-primary;
        color: #ffffff;

        &--w {
            background-color: #ffffff;
            color: $color-primary;
            border: 2px solid $color-primary;
        }
    }

    &--l {
        padding: 3px 10px 3px 10px;
    }
}
