.l-container {
    padding: 20px 0;

    @include is-sp {
        display: block;
    }

    &--under {
        @include is-tabpc {
        padding-top: 40px;
        }
    }

    &.is-column2 {
        display: flex;
        margin: 0 auto;
        flex: 1 1 100%;
    @include is-sp {
        padding-top: 20px;
        display: block;
    }

    @include is-tabpc {
        margin: 0 auto;
    }

    .left,
    .right {
        flex: 1 1 48%;
        @include is-sp {
            flex: 1 1 100%;
            margin-bottom: 30px;
        }
        }
    }

    &.is-column3 {
        display: flex;
        margin: 0 auto;

    @include is-sp {
        padding-top: 20px;
        display: block;
    }

    @include is-tabpc {
        margin: 0 auto;
    }

    .left,
    .center,
    .right {
        flex: 1 1 33.33%;

        @include is-sp {
            flex: 1 1 100%;
            margin-bottom: 40px;
        }
        }
    }

    &__left,
    &__right {
        width: 100%;
        margin: auto;
    }

}
