.l-wrap {
    @include is-sp {
      padding-left: $gutter-sp;
      padding-right: $gutter-sp;
    }
    @include is-tab {
      padding-left: $gutter-pc - 5px;
      padding-right: $gutter-pc - 5px;
    }
    @include is-pc {
      width: $body-min-width;
      margin-left: auto;
      margin-right: auto;
      padding-left: $gutter-pc;
      padding-right: $gutter-pc;
    }
    &--2col {
      @include is-sp {
        padding-left: $gutter-sp;
        padding-right: $gutter-sp;
      }
      @include is-tabpc {
        width: 700px;
      }
    }
  }
  